@import"https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";

body {
	font-family: "Inter";
	background-color: #111111;
	color: white;
	text-align: center;
        text-decoration: none;
}

img {
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none
}

@media only screen and (min-width: 640px) {
	.susdl {
		padding-left: 23%;
		padding-right: 23%;
	}
	.grid-container {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 10px;
	  }
	.grid-container > div {
		text-align: left;
	}
}

@media only screen and (max-width: 640px) {
	.susdl {
		padding-left: 3%;
		padding-right: 3%;
	}
	.xiysw {
		padding-top: 4%;
	}
}

@media only screen and (min-width: 640px) {
	.xiysw {
		padding-top: 4%;
	}
}

.edcph {
	padding-top: 5%;
	margin-left: -5px;
}
    
.stskr {
	width: 150px;
	border-radius: 999%;
    transition: 1s;
}

.rejrz {
	display: inline-block;
	margin: 1px
}

.head-text {
	font-size: 25px;
	font-weight: 700;
	text-align: left;
	line-height: 1.1;
}

.head-text-min {
	font-size: 15px;
	font-weight: 300;
	text-align: left
}

.gndgn {
	float: center;
	margin: 0px
}

.navbar-img {
	width: 45px;
    cursor: pointer;
}

.navbar {
	background-color: #111827;
}

.ver {
	color: #e9e9e9;
	font-size: 18px;
	text-decoration: none
}

.ver:hover {
	background-image: linear-gradient(120deg, #b5b5e7, #b5b5e7);
	background-repeat: no-repeat;
	background-size: 100% .1em;
	background-position: 0 88%;
	transition: background-size .25s ease-in;
	text-decoration: none;
	font-size: 18px;
	color: white;
}

::selection {
	background-color: #b5b5e7;
}

.sxdfa {
	float: left;
	padding-top: 4%;
}

.sxdfa-text {
	font-size: 21px;
	font-weight: 500;
	text-align: left;
}

.sxdfa-text-min {
	font-size: 18px;
	font-weight: 300;
	text-align: left
}

.link {
	color: #ffffff;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, right top, from(#b5b5e7), to(#b5b5e7));
    background-image: linear-gradient(90deg, #b5b5e7 0%, #b5b5e7 100%);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 30% 2px;
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
}

.link:hover {
	text-decoration: none;
	color: white;
	background-size: 100% 2px;
}

.tbyhi {
	padding-top: 1%;
	font-size: 16px;
	font-weight: normal
}

.social-bt {
	margin-left: 1px;
	font-size: 31px;
	float: center;
	background-color: transparent;
	color: white;
	border-radius: 5px;
	margin-right: 17px;
	margin-bottom: 8px;
  	text-decoration: none;
	-webkit-transform: scale(1);
  	-ms-transform: scale(1);
  	-moz-transform: scale(1);
}

.div-sizer {
	margin-left: 1px;
	font-size: 31px;
	float: center;
	background-color: transparent;
	color: white;
	border-radius: 5px;
	margin-right: 17px;
	margin-bottom: 8px;
  	text-decoration: none;
	-webkit-transform: scale(1);
  	-ms-transform: scale(1);
  	-moz-transform: scale(1);
}

.social-bt:hover {
	text-decoration: none;
	color: white;
}
    
.social {
	float: center;
	padding-top: 4%;
}
    
.social-text {
	font-size: 21px;
	font-weight: 500;
	text-align: left;
}

.social-text-min {
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	text-overflow: none;
	text-decoration: none;
}

.active {
	background-image: linear-gradient(120deg, #b5b5e7, #b5b5e7);
	background-repeat: no-repeat;
	background-size: 100% .1em;
	background-position: 0 88%;
	transition: background-size .25s ease-in;
	text-decoration: none;
	color: white
}

.active:hover {
	text-decoration: none;
	display: inline;
	color: white
}

.button {
	float: left;
	display: inline-block;
	font-size: 15px;
	color: #ffffff;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	padding: .625rem .9375rem;
	transition: all 0.3s
}

.button:hover {
	opacity: 0.8;
	color: #ffffff;
	text-decoration: none;
}
    
.tippy-box[data-theme~=ws] {
  border-radius: 0.5rem;
	color: #ffffff;
	/*box-shadow: 0 0 20px 4px rgba(154, 161, 177, .15), 0 4px 80px -8px rgba(36, 40, 47, .25), 0 4px 4px -2px rgba(91, 94, 105, .15);*/
	background-color: #1f2937;
}

.tippy-box[data-theme~=ws][data-placement^=top]>.tippy-arrow:before {
	border-top-color: #2d314a
}

.tippy-box[data-theme~=ws][data-placement^=bottom]>.tippy-arrow:before {
	border-bottom-color: #2d314a
}

.tippy-box[data-theme~=ws][data-placement^=left]>.tippy-arrow:before {
	border-left-color: #2d314a
}

.tippy-box[data-theme~=ws][data-placement^=right]>.tippy-arrow:before {
	border-right-color: #2d314a
}

.tippy-box[data-theme~=ws]>.tippy-backdrop {
	background-color: #2d314a
}

.pr-text {
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
}

.card {
	background-color: #1f2937;
}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(64 68 78);
    border-radius: 8px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(24 28 39);
  }

.discrim {
  color: #b9bbbe;
}

.xwsda {
    padding-bottom: 2%;
}

.mbb {
	color: #b5b5e7;
}

.udutr {
	background-color: rgb(17, 17, 17, 0.5);
}

.v-demo {
    color: #ffffff;
}

.msgbox-area {
  max-height: 100%;
  position: fixed;
  bottom: 15px;
  left: 20px;
  right: 20px;
}
.msgbox-area .msgbox-box {
  font-size: inherit;
  color: #ffffff;
  background-color: #111827;
  padding: 18px 20px;
  margin: 0 0 15px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 7px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.65);
  transition: opacity 300ms ease-in;
}
.msgbox-area .msgbox-box.msgbox-box-hide {
  opacity: 0;
}
.msgbox-area .msgbox-box:last-child {
  margin: 0;
}
.msgbox-area .msgbox-content {
  flex-shrink: 1;
}
.msgbox-area .msgbox-close {
  color: #b5b5e7;
  font-weight: bold;
  text-decoration: none;
  margin: 0 0 0 20px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  transition: text-shadow 120ms ease-out;
}
.msgbox-area .msgbox-close:hover {
  text-shadow: 0 0 3px #efefef;
}
.msgbox-close {
	font-size: 2.5vw;
}
@media (min-width: 481px) and (max-width: 767px) {
  .msgbox-area {
    left: 80px;
    right: 80px;
  }
}
@media (min-width: 768px) {
  .msgbox-area {
    width: 480px;
    height: 0;
    top: 15px;
    left: auto;
    right: 15px;
  }
}
.msgbox-area {
  font-size: 16px;
}
.msgbox-message-container {
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.msgbox-message-container h1, .msgbox-message-container h3 {
  margin: 10px 20px;
}
.msgbox-message-container p {
  margin: 5px 20px;
}
.msgbox-message-button {
  font-size: 18px;
  font-weight: bold;
  font-family: inherit;
  color: white;
  background-color: #1476ff;
  width: 250px;
  border: solid 2px #005de0;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 5px #005de0;
  transition: background-color 100ms ease-out, box-shadow 100ms ease-out, transform 100ms ease-out;
}
.msgbox-message-button:hover, .msgbox-message-button:focus, .msgbox-message-button:active {
  background-color: #2e85ff;
}
.msgbox-message-button:active {
  background-color: #0068fa;
  box-shadow: 0 0 #005de0;
  transform: translateY(5px);
}
.loader{
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111827;
    transition: all 0.5s;
    z-index: 999;
  }
  .wrapper {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .typing {
	width: 22ch;
	animation: typing 2.5s steps(22), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
	font-family: monospace;
	font-size: 2em;
  }
  
  @keyframes typing {
	from {
	  width: 0
	}
  }
	  
  @keyframes blink {
	50% {
	  border-color: transparent
	}
  }
  .usmfu {
    font-size: 18px;
  }
