:root {
    --bg-color: rgba(31, 41, 55, 1);
    --text-color: #fff;
    --blog-gray-color: rgb(180, 180, 180);
    --height: 50vh;
}

body {
    margin: 0%;
    padding: 0%;
    width: 100vw;
    background: var(--bg-color);
    color: var(--text-color);
    max-width: 100vw;
    overflow-x: hidden;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
.profile {
    width: 24vw;
    padding: 4vh 3vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background: var(--background-image) center center;
    background-size: cover !important;
    background-repeat: no-repeat;
    position: fixed;
    color: #fff !important;
}
.profile div {
    margin: 1.5vh 0px;
}
.profile_img {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
    border-radius: 25px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.username {
    font-size: 18px;
}
.username span {
    font-size: 24px;
}
.discrim {
    color: #b9bbbe;
}
a {
    color: #fff !important;
    text-decoration: none;
    font-weight: bold;
}
.userbio {
    font-size: 26px;
    font-family: "Questrial", sans-serif;
    width: 100%;
}
.about {
    font-size: 18px;
    font-family: "Questrial", sans-serif;
}
.socials {
    color: #fff;
    text-decoration: none;
    margin: 3vh 0px !important;
}
.socials span {
    font-size: 35px;
    display: inline-block !important;
    margin-right: 2vw !important;
    font-weight: normal !important;
}
.text-green-500 {
    --tw-text-opacity: 1;
    color: rgba(16,185,129,var(--tw-text-opacity));
}
.bg-red-500 {
    --tw-text-opacity: 1;
    color: rgba(255,0,0,var(--tw-text-opacity));
}
.loader {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    transition: all .5s;
    z-index: 999
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.typing {
    width: 22ch;
    animation: typing 2.5s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.spinner {
    font-size: 30px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  .spinner.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .spinner .spinner2 {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.074em;
    height: 0.2777em;
    border-radius: 0.0555em;
    background-color: transparent;
    -webkit-transform-origin: center -0.2222em;
        -ms-transform-origin: center -0.2222em;
            transform-origin: center -0.2222em;
    -webkit-animation: spinner-fade 1s infinite linear;
            animation: spinner-fade 1s infinite linear;
  }
  .spinner .spinner2:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .spinner .spinner2:nth-child(2) {
    -webkit-animation-delay: 0.083s;
            animation-delay: 0.083s;
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .spinner .spinner2:nth-child(3) {
    -webkit-animation-delay: 0.166s;
            animation-delay: 0.166s;
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  .spinner .spinner2:nth-child(4) {
    -webkit-animation-delay: 0.249s;
            animation-delay: 0.249s;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .spinner .spinner2:nth-child(5) {
    -webkit-animation-delay: 0.332s;
            animation-delay: 0.332s;
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  .spinner .spinner2:nth-child(6) {
    -webkit-animation-delay: 0.415s;
            animation-delay: 0.415s;
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  .spinner .spinner2:nth-child(7) {
    -webkit-animation-delay: 0.498s;
            animation-delay: 0.498s;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .spinner .spinner2:nth-child(8) {
    -webkit-animation-delay: 0.581s;
            animation-delay: 0.581s;
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  .spinner .spinner2:nth-child(9) {
    -webkit-animation-delay: 0.664s;
            animation-delay: 0.664s;
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  .spinner .spinner2:nth-child(10) {
    -webkit-animation-delay: 0.747s;
            animation-delay: 0.747s;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .spinner .spinner2:nth-child(11) {
    -webkit-animation-delay: 0.83s;
            animation-delay: 0.83s;
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg);
  }
  .spinner .spinner2:nth-child(12) {
    -webkit-animation-delay: 0.913s;
            animation-delay: 0.913s;
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg);
  }
  
  @-webkit-keyframes spinner-fade {
    0% {
      background-color: #69717d;
    }
    100% {
      background-color: transparent;
    }
  }
  
  @keyframes spinner-fade {
    0% {
      background-color: #69717d;
    }
    100% {
      background-color: transparent;
    }
  }

  .dcdta,  .dcInfo  {
    display:  flex;
    height:  50px;
}
.forward,  .forward-clicked  {
    bottom:  0;
    cursor:  pointer;
    height:  40px;
    left:  0;
    min-height:  32px;
    min-width:  73px;
    position:  relative;
    right:  0;
    top:  0;
    align-self:  center;
    margin:  0 0 0 10px;
    padding:  2px 16px;
}
.btnText,  .texts,  .nameBox,  .status  {
    text-overflow:  ellipsis;
    overflow:  hidden;
}
.ınviteBody  {
    background-color:  #2C2F33;
    display:  inline-block;
    border-radius:  10px;
}
.ınvite  {
    text-align:  left;
    box-sizing:  border-box;
    color:  #fff;
    background:  #2C2F33;
    border-radius:  5px;
    font:  normal normal 400 normal 16px/16px Inter,  "Helvetica Neue",  Helvetica,  Arial,  sans-serif;
    margin:  0;
    padding:  12px 15px;
    display:  inline-block;
    max-width:  90vw;
}
.offlineInd,  .onlineInd  {
    height:  8px;
    width:  8px;
    border-radius:  50%;
    margin:  0 4px 0 0;
    display:  block;
}
.texts  {
    display:  block;
    color:  #b9bbbe;
    height:  16px;
    letter-spacing:  0.5px;
    text-transform:  uppercase;
    flex:  1 1 0%;
    font:  normal normal 600 normal 12px/16px Inter,  "Helvetica Neue",  Helvetica,  Arial,  sans-serif;
    margin:  0 0 8px;
}
.serverImg  {
    background-position: 50% 50%;
    bottom: 0;
    height: 50px;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 50px;
    border-radius: 15px;
    flex: 0 0 auto;
    margin: 0 10px 0 0;
    background: url("https://cdn.discordapp.com/icons/619859303402307604/6941e24433dfff009eda3e6786c3f899.png") 50% 50%/100% 100% repeat scroll padding-box padding-box rgb(54,  57,  63);
    display: block;
}
.dcErr  {
    background-color:  red;
    color:  #fff;
}
.dcInfo  {
    align-items:  stretch;
    justify-content:  center;
    flex:  1 1 auto;
    flex-flow:  column nowrap;
}
.forward,  .channel  {
    align-items:  center;
    display:  flex;
}
.nameBox  {
    color:  #f6f6f7;
    height:  20px;
    font:  normal normal 600 normal 16px/20px Inter,  "Helvetica Neue",  Helvetica,  Arial,  sans-serif;
    margin:  0 0 4px;
}
.status  {
    display:  block;
}
.status,  .channel  {
    font:  normal normal 600 normal 12px/16px Inter,  "Helvetica Neue",  Helvetica,  Arial,  sans-serif;
    color:  #72767d;
    height:  30px;
}
.channel  {
    justify-content:  flex-start;
}
.onlineInd  {
    color:  #72767d;
    column-rule-color:  #72767d;
    background:  #449D49;
    font:  italic normal 600 normal 12px/16px Inter,  "Helvetica Neue",  Helvetica,  Arial,  sans-serif;
}
.numOnline  {
    color:  #72767d;
    display:  block;
    font:  normal normal 600 normal 12px/16px Inter,  "Helvetica Neue",  Helvetica,  Arial,  sans-serif;
    margin:  0 2px 0 0;
}
.offlineInd  {
    color:  #72767d;
    background:  #747f8d;
    font:  italic normal 600 normal 12px/16px Inter,  "Helvetica Neue",  Helvetica,  Arial,  sans-serif;
}
.numTotal  {
    color:  #72767d;
    display:  block;
    font:  normal normal 600 normal 12px/16px Inter,  "Helvetica Neue",  Helvetica,  Arial,  sans-serif;
}
.forward  {
    color:  #fff;
    border:  0;
    justify-content:  center;
    background:  #449D49;
    border-radius:  3px;
    font:  normal normal 500 normal 14px/20px Inter,  "Helvetica Neue",  Helvetica,  Arial,  sans-serif;
    transition:  background-color 0.17s ease 0s;
}
.forward:hover  {
    background-color:  #287e29;
}
.forward-clicked  {
    color:  #dcddde;
    display:  flex;
    overflow-wrap:  break-word;
    word-wrap:  break-word;
    align-items:  center;
    justify-content:  center;
    user-select:  none;
    background:  transparent;
    border:  1px solid rgba(114,  118,  126,  0.298);
    border-radius:  3px;
    font:  normal normal 500 normal 14px/20px Inter,  "Helvetica Neue",  Helvetica,  Arial,  sans-serif;
    transition:  color 0.17s ease 0s,  background-color 0.17s ease 0s,  border-color 0.17s ease 0s;
}
.forward-clicked:hover  {
    border-color:  hsla(218,  5%,  47%,  0.6);
}
.hid {
    display: none }
.joinedDiscord  {
    color:  #dcddde;
    cursor:  pointer;
    display:  flex;
    height:  20px;
    overflow-wrap:  break-word;
    text-align:  center;
    font:  normal normal 500 normal 14px/20px Whitney,  "Helvetica Neue",  Helvetica,  Arial,  sans-serif;
    overflow:  hidden;
}
.btnText  {
    cursor:  pointer;
    display:  flex;
    height:  20px;
    text-align:  center;
    font:  normal normal 500 normal 14px/20px Inter,  "Helvetica Neue",  Helvetica,  Arial,  sans-serif;
    margin:  0 8.83px;
}
.loadHidden  {
    display:  none;
}
#display {
    width: 64vw;
    padding: 4vh 3vw;
    height: 92vh;
    display: inline-block;
    padding-left: 33vw;
}
#work {
    margin: 2vh 0px;
    padding: 4vh 0px !important;
}
.projects {
    margin-left: -15px;
}
.projects a {
    width: calc(49% - 30px);
    display: flex;
    text-decoration: none;
}
.projects section {
    background: rgba(32, 44, 55, 1);
}
.projects section {
    width: 100%;
    padding: 2.5vh 5%;
    margin: 1vh 0px;
    display: inline-block;
    border-radius: 5px;
    color: var(--text-color);
    border: 1px solid rgb(0, 0, 0, 0.08);
    box-shadow: 0px 0px 0px rgb(0 0 0 / 0%);
    transition: 0.4s ease-in-out;
    transform: scale(1);
}
.projects_title {
    font-size: 24px;
    margin: 1vh 0px;
    padding: 0px 1px;
    word-wrap: break-word;
}
.projects_about {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    margin: 2vh 0px;
    word-wrap: break-word;
}
.logo {
    width: 18px;
    height: 18px;
}
.projects_bottom {
    margin: 1vh 0px;
    font-size: 14px;
    word-wrap: break-word;
}
.projects_bottom span {
    margin-right: 20px;
    font-weight: bold;
}
@media (max-width: 800px) {
    .profile {
        width: 90vw;
        padding: 4vh 5vw;
        height: 60vh;
        text-align: center;
        position: relative;
    }
    }
    @media (max-width: 800px) {
        .profile_img {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
    margin: 0px auto !important;
}
}
@media (max-width: 800px) {
#display {
    width: 90vw;
    padding: 4vh 5vw;
    height: auto;
    display: inline-block;
    padding-left: 5vw;
}
}
@media (max-width: 800px) {
#work {
    margin: 0px;
}
}
@media (max-width: 800px) {
.projects {
    margin-left: 0;
}
}
@media (max-width: 800px) {
.projects a {
    width: 100%;
}
}
@media (max-width: 800px) {
.projects section {
    width: 88%;
}
}
.botImg {
    width: 45px !important;
    height: 45px !important;
    display: inline-block !important;
    vertical-align: middle;
    border-radius: 50%;
}
.botDesc {
    margin-bottom: 8px;
    font-size: 18px;
}
.botName {
    font-weight: 220!important;
    font-size: 22px!important;
    margin-left: 10px!important;
    top: 0!important;
    display: inline-block !important;
    vertical-align: middle;
    font-size: 20px;
}
.botName p {
    text-decoration: none !important;
    display: inline-block;
}
.botName .discrim {
    color: #b9bbbe;
    display: inline-block;
    font-size: 23px;
}
